@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .link {
    position: relative;
    padding: 2px 3px;
  }
  .link::after {
    content: "";
    width: 100%;
    height: 10%;
    background: #ad6a3b;
    border-radius: 0.1rem;
    opacity: 60%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: all 0.3s;
  }
  .link:hover::after,
  .link:focus::after {
    height: 100%;
  }
  .error-gradient {
    background: linear-gradient(
      170deg,
      #160f29 25%,
      #41375d 25.5%,
      #41375d 42.5%,
      #ad6a3b 43%,
      #ad6a3b 60%,
      #65a6a3 60.5%,
      #65a6a3 75%,
      #badbda 75.5%,
      #badbda 100%
    );
    background-clip: text;
    color: transparent;
  }
}
